<nav class="navbar navbar-inverse">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Orangotango Cursos</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav">
              <li>
                  <a href="/listCourses">Cursos</a>
              </li>
              <li>
                  <a href="/insert">Inserir</a>
              </li>
              <li>
                 <a href="">Editar</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="#">Sign up</a>
              </li>
              <li>
                  <a href="#">Log in</a>
              </li>

          </ul>
      </div>
  </div>

</nav>